openapi: 3.0.3
info:
  title: POV EventCamera API
  version: 0.1.0-draft
  description: |
    OpenAPI contract for POV EventCamera guest and organizer APIs.
    Organizer routes support either an HttpOnly organizer session cookie
    or direct Supabase bearer auth (for non-browser clients).
    Guest routes use an HttpOnly guest device session cookie.
servers:
  - url: https://eventpovcamera.app
    description: Organizer web entry domain
  - url: https://guest.eventpovcamera.app
    description: Guest web entry domain
  - url: http://localhost:3000
    description: Local development
tags:
  - name: System
  - name: Guest
  - name: OrganizerAuth
  - name: OrganizerEvents
  - name: OrganizerMedia
  - name: OrganizerGuests
  - name: OrganizerJobs
  - name: Internal
  - name: Webhooks

paths:
  /api/lookup-event:
    post:
      tags: [Guest]
      summary: Lookup event details before joining
      operationId: guestLookupEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupEventRequest'
      responses:
        '200':
          description: Event is available for joining
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/join:
    post:
      tags: [Guest]
      summary: Join an event and create a guest device session
      operationId: guestJoinEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinRequest'
      responses:
        '200':
          description: Joined successfully
          headers:
            Set-Cookie:
              description: HttpOnly host-only cookie for guest.eventpovcamera.app containing device session token
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/my-session:
    get:
      tags: [Guest]
      summary: Validate guest session and return session + event metadata
      operationId: guestGetMySession
      security:
        - GuestSessionCookie: []
      responses:
        '200':
          description: Session is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MySessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags: [Guest]
      summary: Update guest display name
      operationId: guestPatchMySession
      security:
        - GuestSessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMySessionRequest'
      responses:
        '200':
          description: Session updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MySessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/create-upload:
    post:
      tags: [Guest]
      summary: Reserve a media upload slot and return signed upload URLs
      operationId: guestCreateUpload
      security:
        - GuestSessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadRequest'
      responses:
        '200':
          description: Upload slot reserved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/complete-upload:
    post:
      tags: [Guest]
      summary: Verify uploaded object and mark media as uploaded
      operationId: guestCompleteUpload
      security:
        - GuestSessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteUploadRequest'
      responses:
        '200':
          description: Upload completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/my-uploads:
    get:
      tags: [Guest]
      summary: List uploads that belong to the current guest session
      operationId: guestGetMyUploads
      security:
        - GuestSessionCookie: []
      responses:
        '200':
          description: Upload list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyUploadsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/auth/session:
    post:
      tags: [OrganizerAuth]
      summary: Create organizer API session cookie from Supabase bearer token
      operationId: organizerCreateSession
      security:
        - OrganizerBearerAuth: []
      responses:
        '200':
          description: Organizer session created
          headers:
            Set-Cookie:
              description: HttpOnly organizer session cookie scoped to /api/organizer
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizerSessionCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags: [OrganizerAuth]
      summary: Get current organizer session/identity
      operationId: organizerGetSession
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      responses:
        '200':
          description: Organizer session/identity resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizerSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [OrganizerAuth]
      summary: Revoke current organizer cookie session (idempotent)
      operationId: organizerDeleteSession
      responses:
        '200':
          description: Session revoked (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizerSessionDeleteResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events:
    post:
      tags: [OrganizerEvents]
      summary: Create organizer event
      operationId: organizerCreateEvent
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: Event created or payment redirect required
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CreateEventSuccessResponse'
                  - $ref: '#/components/schemas/PaymentRedirectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags: [OrganizerEvents]
      summary: List events for organizer
      operationId: organizerListEvents
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: object
                required: [events]
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}:
    get:
      tags: [OrganizerEvents]
      summary: Get event detail and summary stats
      operationId: organizerGetEvent
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Event detail
          content:
            application/json:
              schema:
                type: object
                required: [event]
                properties:
                  event:
                    $ref: '#/components/schemas/EventDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags: [OrganizerEvents]
      summary: Update event settings
      operationId: organizerPatchEvent
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEventRequest'
      responses:
        '200':
          description: Event updated or payment redirect required
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EventMutationSuccessResponse'
                  - $ref: '#/components/schemas/PaymentRedirectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/close:
    post:
      tags: [OrganizerEvents]
      summary: Close event (stop accepting guest uploads)
      operationId: organizerCloseEvent
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Event closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventMutationSuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/archive:
    post:
      tags: [OrganizerEvents]
      summary: Archive event
      operationId: organizerArchiveEvent
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Event archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventMutationSuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/gallery:
    get:
      tags: [OrganizerMedia]
      summary: Get paginated media gallery for event
      description: "Filter semantics: within multi-value filters (`filter_uploader`, `filter_tag`) matching is OR; across filter groups matching is AND."
      operationId: organizerGetGallery
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortOrder'
        - $ref: '#/components/parameters/FilterDate'
        - $ref: '#/components/parameters/FilterSession'
        - $ref: '#/components/parameters/FilterUploader'
        - $ref: '#/components/parameters/FilterTag'
        - $ref: '#/components/parameters/FilterFileType'
      responses:
        '200':
          description: Gallery page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/gallery/facets:
    get:
      tags: [OrganizerMedia]
      summary: Get searchable uploader/tag facet options for event gallery filters
      operationId: organizerGetGalleryFacets
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/FacetLimit'
        - $ref: '#/components/parameters/UploaderQuery'
        - $ref: '#/components/parameters/TagQuery'
      responses:
        '200':
          description: Facet options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryFacetsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/gallery/stats:
    get:
      tags: [OrganizerMedia]
      summary: Get event gallery stats
      operationId: organizerGetGalleryStats
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Gallery stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryStatsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/media/{mid}/hide:
    post:
      tags: [OrganizerMedia]
      summary: Hide one media item
      operationId: organizerHideMedia
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/MediaId'
      responses:
        '200':
          description: Media hidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaMutationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/media/{mid}/unhide:
    post:
      tags: [OrganizerMedia]
      summary: Unhide one media item
      operationId: organizerUnhideMedia
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/MediaId'
      responses:
        '200':
          description: Media unhidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaMutationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/media/bulk-hide:
    post:
      tags: [OrganizerMedia]
      summary: Hide multiple media items
      operationId: organizerBulkHideMedia
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkHideRequest'
      responses:
        '200':
          description: Bulk hide completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkHideResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/media/{mid}/download-url:
    get:
      tags: [OrganizerMedia]
      summary: Get signed download URL for original media
      operationId: organizerGetMediaDownloadUrl
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/MediaId'
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadUrlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/media/download-urls:
    post:
      tags: [OrganizerMedia]
      summary: Get signed download URLs for multiple media items (max 100)
      operationId: organizerGetMediaDownloadUrls
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadUrlsBatchRequest'
      responses:
        '200':
          description: Batch download URLs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadUrlsBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/download-all:
    post:
      tags: [OrganizerMedia]
      summary: Trigger async ZIP job for event downloads
      operationId: organizerDownloadAll
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadAllRequest'
      responses:
        '200':
          description: Job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadAllResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/download-selected:
    post:
      tags: [OrganizerMedia]
      summary: Trigger async ZIP job for selected media downloads
      operationId: organizerDownloadSelected
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadSelectedRequest'
      responses:
        '200':
          description: Job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadAllResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/jobs/{job_id}:
    get:
      tags: [OrganizerJobs]
      summary: Poll async job status
      operationId: organizerGetJobStatus
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/guests:
    get:
      tags: [OrganizerGuests]
      summary: List event guest sessions
      operationId: organizerGetGuests
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Guest session list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/guests/{sid}/deactivate:
    post:
      tags: [OrganizerGuests]
      summary: Deactivate guest session
      operationId: organizerDeactivateGuest
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Session deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateGuestResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/organizer/events/{id}/capacity:
    post:
      tags: [OrganizerEvents]
      summary: Update event capacity and pricing-sensitive settings
      operationId: organizerUpdateCapacity
      security:
        - OrganizerSessionCookie: []
        - OrganizerBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/EventId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityUpdateRequest'
      responses:
        '200':
          description: Capacity updated or payment redirect required
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EventMutationSuccessResponse'
                  - $ref: '#/components/schemas/PaymentRedirectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/health:
    get:
      tags: [System]
      summary: Service health check
      operationId: systemHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/internal/event-status-sync:
    post:
      tags: [Internal]
      summary: Trigger event status reconciliation
      operationId: internalEventStatusSync
      security:
        - InternalCronBearerAuth: []
      responses:
        '200':
          description: Event status sync completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalRunResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Internal cron auth is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/internal/data-cleanup:
    post:
      tags: [Internal]
      summary: Trigger daily data cleanup (media retention + session cleanup + facet sync)
      operationId: internalDataCleanup
      security:
        - InternalCronBearerAuth: []
      responses:
        '200':
          description: Data cleanup completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalRunResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Internal cron auth is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/internal/media-retention-cleanup:
    post:
      tags: [Internal]
      summary: Backward-compatible alias for data cleanup trigger
      operationId: internalMediaRetentionCleanup
      deprecated: true
      security:
        - InternalCronBearerAuth: []
      responses:
        '200':
          description: Data cleanup completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalRunResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Internal cron auth is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/webhooks/payment:
    post:
      tags: [Webhooks]
      summary: Payment provider webhook callback (not yet implemented)
      operationId: paymentWebhook
      responses:
        '501':
          $ref: '#/components/responses/NotImplemented'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    GuestSessionCookie:
      type: apiKey
      in: cookie
      name: device_session_token
    OrganizerSessionCookie:
      type: apiKey
      in: cookie
      name: organizer_session_token
    OrganizerBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    InternalCronBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque

  parameters:
    EventId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    MediaId:
      name: mid
      in: path
      required: true
      schema:
        type: string
        format: uuid
    JobId:
      name: job_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SessionId:
      name: sid
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    FacetLimit:
      name: limit
      in: query
      required: false
      description: Max number of facet options to return per facet type.
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 500
    Sort:
      name: sort
      in: query
      required: false
      description: Legacy date sort parameter. Prefer `sort_by` + `sort_order`.
      schema:
        type: string
        enum: [newest, oldest]
        default: newest
    SortBy:
      name: sort_by
      in: query
      required: false
      schema:
        type: string
        enum: [uploaded_at, uploader, tag]
        default: uploaded_at
    SortOrder:
      name: sort_order
      in: query
      required: false
      schema:
        type: string
        enum: [asc, desc]
        default: desc
    FilterDate:
      name: filter_date
      in: query
      required: false
      schema:
        type: string
        format: date
    FilterSession:
      name: filter_session
      in: query
      required: false
      schema:
        type: string
        format: uuid
    FilterUploader:
      name: filter_uploader
      in: query
      required: false
      description: Comma-separated uploader names. Matches media uploaded by any of the provided names (OR).
      schema:
        type: string
    FilterTag:
      name: filter_tag
      in: query
      required: false
      description: Comma-separated tags. Matches media containing any of the provided tags (OR).
      schema:
        type: string
    UploaderQuery:
      name: uploader_q
      in: query
      required: false
      schema:
        type: string
    TagQuery:
      name: tag_q
      in: query
      required: false
      schema:
        type: string
    FilterFileType:
      name: filter_file_type
      in: query
      required: false
      schema:
        type: string
        enum: [image, video]
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        minLength: 8
        maxLength: 128

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Authenticated but not permitted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict with current resource state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Rate limited
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotImplemented:
      description: Endpoint scaffold exists but implementation is pending
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: UPLOAD_LIMIT_REACHED
            message:
              type: string
              example: You have reached your upload limit.
            request_id:
              type: string
              nullable: true
              example: req_12345
            details:
              type: object
              additionalProperties: true

    CompressionMode:
      type: string
      enum: [compressed, raw]

    EventStatus:
      type: string
      enum: [draft, active, closed, archived, purged]

    CurrencyCode:
      type: string
      minLength: 3
      maxLength: 3
      example: INR

    GuestSession:
      type: object
      required:
        - session_id
        - event_id
        - is_active
        - created_at
        - last_active_at
      properties:
        session_id:
          type: string
          format: uuid
        event_id:
          type: string
          format: uuid
        display_name:
          type: string
          nullable: true
          maxLength: 64
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        last_active_at:
          type: string
          format: date-time

    GuestEventMeta:
      type: object
      required:
        - id
        - slug
        - name
        - status
        - max_uploads_per_guest
        - max_guests
        - compression_mode
        - event_date
        - end_date
        - expires_at
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        status:
          $ref: '#/components/schemas/EventStatus'
        max_uploads_per_guest:
          type: integer
        max_guests:
          type: integer
        compression_mode:
          $ref: '#/components/schemas/CompressionMode'
        event_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        expires_at:
          type: string
          format: date-time

    LookupEventRequest:
      type: object
      required: [event_slug]
      properties:
        event_slug:
          type: string

    LookupEventResponse:
      type: object
      required:
        - id
        - slug
        - name
        - status
        - requires_pin
        - end_date
        - expires_at
        - event_date
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        name:
          type: string
        status:
          $ref: '#/components/schemas/EventStatus'
        requires_pin:
          type: boolean
        end_date:
          type: string
          format: date
        expires_at:
          type: string
          format: date-time
        event_date:
          type: string
          format: date

    JoinRequest:
      type: object
      required: [event_slug]
      properties:
        event_slug:
          type: string
        pin:
          type: string
          pattern: '^\\d{4}$'
          nullable: true
        display_name:
          type: string
          maxLength: 64
          nullable: true

    JoinResponse:
      type: object
      required: [session, event, upload_count, max_uploads]
      properties:
        session:
          $ref: '#/components/schemas/GuestSession'
        event:
          $ref: '#/components/schemas/GuestEventMeta'
        upload_count:
          type: integer
          minimum: 0
        max_uploads:
          type: integer
          minimum: 1

    MySessionResponse:
      type: object
      required: [session, event, upload_count, max_uploads]
      properties:
        session:
          $ref: '#/components/schemas/GuestSession'
        event:
          $ref: '#/components/schemas/GuestEventMeta'
        upload_count:
          type: integer
          minimum: 0
        max_uploads:
          type: integer
          minimum: 1

    PatchMySessionRequest:
      type: object
      required: [display_name]
      properties:
        display_name:
          type: string
          nullable: true
          maxLength: 64

    CreateUploadRequest:
      type: object
      required: [file_type, file_size]
      properties:
        file_type:
          type: string
          description: MIME type declared by client
          example: image/jpeg
        file_size:
          type: integer
          minimum: 1
          description: File size in bytes declared by client
        tags:
          type: array
          description: Optional per-file labels provided by guest
          items:
            type: string
            maxLength: 32
          maxItems: 8

    CreateUploadResponse:
      type: object
      required:
        - media_id
        - upload_url
        - remaining_uploads
        - compression_mode
        - max_file_size
      properties:
        media_id:
          type: string
          format: uuid
        upload_url:
          type: string
          format: uri
        thumb_upload_url:
          type: string
          format: uri
          nullable: true
        remaining_uploads:
          type: integer
          minimum: 0
        compression_mode:
          $ref: '#/components/schemas/CompressionMode'
        max_file_size:
          type: integer
          minimum: 1
          description: Max allowed size in bytes for the reserved upload mode

    CompleteUploadRequest:
      type: object
      required: [media_id]
      properties:
        media_id:
          type: string
          format: uuid

    CompleteUploadResponse:
      type: object
      required: [success, media_id, status]
      properties:
        success:
          type: boolean
          example: true
        media_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [uploaded]

    MyUploadItem:
      type: object
      required: [media_id, thumb_url, original_url, status, uploaded_at]
      properties:
        media_id:
          type: string
          format: uuid
        thumb_url:
          type: string
          format: uri
        original_url:
          type: string
          format: uri
        status:
          type: string
          enum: [uploaded, pending, failed, expired, hidden]
        uploaded_at:
          type: string
          format: date-time
          nullable: true
        uploader_name:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string

    MyUploadsResponse:
      type: object
      required: [uploads, total_uploaded, max_uploads]
      properties:
        uploads:
          type: array
          items:
            $ref: '#/components/schemas/MyUploadItem'
        total_uploaded:
          type: integer
          minimum: 0
        max_uploads:
          type: integer
          minimum: 1

    CreateEventRequest:
      type: object
      required:
        - name
        - event_date
        - max_guests
        - max_uploads_per_guest
      properties:
        name:
          type: string
          maxLength: 120
        event_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        max_guests:
          type: integer
          minimum: 1
        max_uploads_per_guest:
          type: integer
          minimum: 1
        compression_mode:
          $ref: '#/components/schemas/CompressionMode'
        pin:
          type: string
          pattern: '^\\d{4}$'
          nullable: true
        cover_image_path:
          type: string
          nullable: true
        currency:
          $ref: '#/components/schemas/CurrencyCode'

    EventSummary:
      type: object
      required:
        - id
        - name
        - slug
        - status
        - max_guests
        - max_uploads_per_guest
        - compression_mode
        - total_fee
        - currency
        - event_date
        - end_date
        - guest_url
        - total_uploads
        - guest_count
        - created_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        status:
          $ref: '#/components/schemas/EventStatus'
        max_guests:
          type: integer
        max_uploads_per_guest:
          type: integer
        compression_mode:
          $ref: '#/components/schemas/CompressionMode'
        total_fee:
          type: integer
          description: Fee in minor units
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        event_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        guest_url:
          type: string
          format: uri
        total_uploads:
          type: integer
          minimum: 0
        guest_count:
          type: integer
          minimum: 0
        created_at:
          type: string
          format: date-time

    EventStats:
      type: object
      properties:
        total_uploads:
          type: integer
          minimum: 0
        total_storage_bytes:
          type: integer
          minimum: 0
        unique_guest_count:
          type: integer
          minimum: 0

    EventDetail:
      allOf:
        - $ref: '#/components/schemas/EventSummary'
        - type: object
          properties:
            pin_enabled:
              type: boolean
            cover_image_path:
              type: string
              nullable: true
            stats:
              $ref: '#/components/schemas/EventStats'

    CreateEventSuccessResponse:
      type: object
      required: [event]
      properties:
        event:
          $ref: '#/components/schemas/EventDetail'

    PaymentRedirectResponse:
      type: object
      required: [requires_payment, payment_url, fee_difference, currency]
      properties:
        requires_payment:
          type: boolean
          enum: [true]
        payment_url:
          type: string
          format: uri
        payment_reference:
          type: string
        fee_difference:
          type: integer
          description: Fee delta in minor units
        currency:
          $ref: '#/components/schemas/CurrencyCode'

    PatchEventRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 120
        pin:
          type: string
          pattern: '^\\d{4}$'
          nullable: true
        max_guests:
          type: integer
          minimum: 1
        max_uploads_per_guest:
          type: integer
          minimum: 1
        compression_mode:
          $ref: '#/components/schemas/CompressionMode'

    EventMutationSuccessResponse:
      type: object
      required: [success, event]
      properties:
        success:
          type: boolean
          example: true
        event:
          $ref: '#/components/schemas/EventDetail'

    GalleryItem:
      type: object
      required:
        - media_id
        - thumb_url
        - original_url
        - uploaded_at
        - status
        - size_bytes
        - mime_type
      properties:
        media_id:
          type: string
          format: uuid
        thumb_url:
          type: string
          format: uri
        original_url:
          type: string
          format: uri
        uploaded_by:
          type: string
          nullable: true
        uploaded_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [uploaded, hidden, pending, failed, expired]
        size_bytes:
          type: integer
          minimum: 0
        mime_type:
          type: string
        tags:
          type: array
          items:
            type: string

    GalleryResponse:
      type: object
      required: [media, total_count]
      properties:
        media:
          type: array
          items:
            $ref: '#/components/schemas/GalleryItem'
        next_cursor:
          type: string
          nullable: true
        total_count:
          type: integer
          minimum: 0

    GalleryFacetItem:
      type: object
      required: [value, count]
      properties:
        value:
          type: string
        count:
          type: integer
          minimum: 0

    GalleryFileTypeFacetItem:
      type: object
      required: [value, count]
      properties:
        value:
          type: string
          enum: [image, video]
        count:
          type: integer
          minimum: 0

    GalleryFacetsResponse:
      type: object
      required: [uploaders, tags, file_types, generated_at, limit]
      properties:
        uploaders:
          type: array
          items:
            $ref: '#/components/schemas/GalleryFacetItem'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/GalleryFacetItem'
        file_types:
          type: array
          items:
            $ref: '#/components/schemas/GalleryFileTypeFacetItem'
        generated_at:
          type: string
          format: date-time
        limit:
          type: integer
          minimum: 1
          maximum: 500

    UploadsPerDayItem:
      type: object
      required: [date, count]
      properties:
        date:
          type: string
          format: date
        count:
          type: integer
          minimum: 0

    GalleryStatsResponse:
      type: object
      required: [total_uploaded, total_storage_bytes, uploads_per_day, unique_guest_count]
      properties:
        total_uploaded:
          type: integer
          minimum: 0
        total_storage_bytes:
          type: integer
          minimum: 0
        uploads_per_day:
          type: array
          items:
            $ref: '#/components/schemas/UploadsPerDayItem'
        unique_guest_count:
          type: integer
          minimum: 0

    MediaMutationResponse:
      type: object
      required: [success, media_id, status]
      properties:
        success:
          type: boolean
          example: true
        media_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [uploaded, hidden]

    BulkHideRequest:
      type: object
      required: [media_ids]
      properties:
        media_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid

    BulkHideResponse:
      type: object
      required: [success, hidden_count]
      properties:
        success:
          type: boolean
          example: true
        hidden_count:
          type: integer
          minimum: 0

    DownloadUrlResponse:
      type: object
      required: [download_url, expires_at]
      properties:
        download_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time

    DownloadUrlsBatchRequest:
      type: object
      required: [media_ids]
      properties:
        media_ids:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: string
            format: uuid

    DownloadUrlsBatchItem:
      type: object
      required: [media_id, download_url, file_name]
      properties:
        media_id:
          type: string
          format: uuid
        download_url:
          type: string
          format: uri
        file_name:
          type: string

    DownloadUrlsBatchResponse:
      type: object
      required: [items, expires_at]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DownloadUrlsBatchItem'
        expires_at:
          type: string
          format: date-time

    DownloadAllRequest:
      type: object
      properties:
        exclude_hidden:
          type: boolean
          default: true

    DownloadSelectedRequest:
      type: object
      required: [media_ids]
      properties:
        media_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 500
          description: List of media IDs to include in the download

    DownloadAllResponse:
      type: object
      required: [job_id, status]
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [processing]
        estimated_time_seconds:
          type: integer
          minimum: 0

    JobStatusResponse:
      type: object
      required: [job_id, status]
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, processing, complete, failed]
        download_url:
          type: string
          format: uri
          nullable: true
        download_urls:
          type: array
          nullable: true
          items:
            type: string
            format: uri
        file_size_bytes:
          type: integer
          minimum: 0
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true

    GuestListItem:
      type: object
      required:
        - session_id
        - upload_count
        - is_active
        - created_at
        - last_active_at
      properties:
        session_id:
          type: string
          format: uuid
        display_name:
          type: string
          nullable: true
        upload_count:
          type: integer
          minimum: 0
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        last_active_at:
          type: string
          format: date-time

    GuestsResponse:
      type: object
      required: [guests, total_guests, max_guests]
      properties:
        guests:
          type: array
          items:
            $ref: '#/components/schemas/GuestListItem'
        total_guests:
          type: integer
          minimum: 0
        max_guests:
          type: integer
          minimum: 1

    OrganizerSessionOrganizer:
      type: object
      required: [id, email, name]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true

    OrganizerSessionInfo:
      type: object
      required: [expires_at]
      properties:
        auth_method:
          type: string
          enum: [session, bearer]
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    OrganizerSessionCreateResponse:
      type: object
      required: [organizer, session]
      properties:
        organizer:
          $ref: '#/components/schemas/OrganizerSessionOrganizer'
        session:
          type: object
          required: [expires_at]
          properties:
            expires_at:
              type: string
              format: date-time

    OrganizerSessionResponse:
      type: object
      required: [organizer, session]
      properties:
        organizer:
          $ref: '#/components/schemas/OrganizerSessionOrganizer'
        session:
          $ref: '#/components/schemas/OrganizerSessionInfo'

    OrganizerSessionDeleteResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          enum: [true]

    DeactivateGuestResponse:
      type: object
      required: [success, session_id, is_active]
      properties:
        success:
          type: boolean
          example: true
        session_id:
          type: string
          format: uuid
        is_active:
          type: boolean
          enum: [false]

    CapacityUpdateRequest:
      type: object
      required: [max_guests, max_uploads_per_guest]
      properties:
        max_guests:
          type: integer
          minimum: 1
        max_uploads_per_guest:
          type: integer
          minimum: 1
        compression_mode:
          $ref: '#/components/schemas/CompressionMode'

    HealthResponse:
      type: object
      required: [ok, service, request_id]
      properties:
        ok:
          type: boolean
          enum: [true]
        service:
          type: string
          example: poveventcam-api
        request_id:
          type: string

    InternalRunResponse:
      type: object
      required: [success, result]
      properties:
        success:
          type: boolean
          enum: [true]
        result:
          type: object
          additionalProperties: true

    PaymentWebhookRequest:
      type: object
      required: [provider_event_id, event_type, status]
      properties:
        provider_event_id:
          type: string
        event_type:
          type: string
          example: payment.captured
        status:
          type: string
          example: succeeded
        payment_reference:
          type: string
        event_id:
          type: string
          format: uuid
          nullable: true
        amount:
          type: integer
          nullable: true
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        metadata:
          type: object
          additionalProperties: true
